<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>listo</title>
</head>
<body>
<h1>Listo</h1>
<a href="/auth/logout/">cerrar sesion google</a>
</body>
</html>